<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- Meta, title, CSS, favicons, etc. -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>NewsScreen</title>
       <!-- Bootstrap -->
       <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   </head>
   <body class="nav-md">
      <div class="container body">
         <div class="main_container">
            <div class="col-md-3 left_col">
         <!-- views/partials/head.ejs -->  
		       
			<!-- page content -->
            <div class="right_col" role="main">
               <div class="">
                  <div class="row top_tiles">
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="x_panel">
                       <div class="x_title">
                         <h4 style="color: sandybrown; margin-left:600px;">News</h4>
                         <div class="clearfix"></div>
                       </div>
                       <div class="x_content">
                         <p class="text-muted font-13 m-b-30">
                         </p>
                         
                   <table id="datatable-buttons" class="table table-striped table-bordered">
                     <thead>
                       <tr>
                           <th>S.No</th>
                         <th>Title</th>
                         <th>Description</th>
                         <th>Link</th>
                         <th>Guid</th>
                         <th>Pub-Date</th>
                       </tr>
                     </thead>
                     <tbody>
                        <tr>
                            <% for(var i=0; i < newsfeedResult.length; i++) { %>
                               <tr>
                                <td><%= i+1 %></td>
                                <td><%= newsfeedResult[i].title %></td>
                                 <td><%= newsfeedResult[i].description %></td>
                                 <td> <a href="<%= newsfeedResult[i].link %>"><%= newsfeedResult[i].link %></a></td>
                                 <td> <a href="<%= newsfeedResult[i].guid %>"><%= newsfeedResult[i].guid %></a></td>
                                 <td><%= newsfeedResult[i].pubDate %></td>
                           
                               </tr>
                            <% } %>
                            </tr>
                     
                     </tbody>
                   </table>
                      </div>
                     </div>
                   </div>
               </div>
            </div>
            <footer>
            </footer>
         </div>
      </div>
   </div>

   </body>
</html>